[toolchain]
package_manager = "pnpm"

[features]
resolution = true
skip-lint = false

[programs.localnet]
solkarma = "AxLm6hUXXZMoemQaXEKWcdkcXKAKHk4iVcxLsoEWARDS"

[programs.devnet]
solkarma = "AxLm6hUXXZMoemQaXEKWcdkcXKAKHk4iVcxLsoEWARDS"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "node_modules/.bin/jest --preset ts-jest"
